<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957666457847-alp5euaj57idoeepun16avaohsb6hqbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957666457847-alp5euaj57idoeepun16avaohsb6hqbk</string>
	<key>API_KEY</key>
	<string>AIzaSyA74jXJOxXUzaIurfDKnObihVMgo5oT1sY</string>
	<key>GCM_SENDER_ID</key>
	<string>957666457847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodscan</string>
	<key>PROJECT_ID</key>
	<string>foodscan-8e823</string>
	<key>STORAGE_BUCKET</key>
	<string>foodscan-8e823.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957666457847:ios:fb0bdb3398c79094</string>
	<key>DATABASE_URL</key>
	<string>https://foodscan-8e823.firebaseio.com</string>
</dict>
</plist>