<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997867500819-lsa4mbh5nstmbcbfmloet8gpdunrv8uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997867500819-lsa4mbh5nstmbcbfmloet8gpdunrv8uu</string>
	<key>API_KEY</key>
	<string>AIzaSyAtN_In_M5Gs_in_7MOF6hmPNfTqhlbqSo</string>
	<key>GCM_SENDER_ID</key>
	<string>997867500819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>healthyfood.lifyzer</string>
	<key>PROJECT_ID</key>
	<string>lifyzer</string>
	<key>STORAGE_BUCKET</key>
	<string>lifyzer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997867500819:ios:55b582378b923bff9cd6e6</string>
	<key>DATABASE_URL</key>
	<string>https://lifyzer.firebaseio.com</string>
</dict>
</plist>